<div class="jw-modal modal right">
  <div class="col-md-5" style=" position: relative; pointer-events: none; z-index: 1;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title w-100" id="myModalLabel">Producto</h2>

        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
          <form [formGroup]="ngFormProducto" (ngSubmit)="addProduct()">
            <!-- <h2>Contact Us</h2> -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="nombre">Nombre de Producto</label>
                  <input type="text" formControlName="nombre" class="form-control" placeholder="" id="nombre">
                </div>
              </div>
              <!--  col-md-6   -->

              <!--  col-md-6   -->
            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="idproducto">ID Producto</label>
                  <input type="text" formControlName="idproducto" class="form-control" placeholder="" id="idproducto">
                </div>
              </div>
              <!--  col-md-6   -->
            </div>

            <div class="row">

              <div class="col-md-12">

                <div class="form-group">
                  <label for="costo">Costo</label>
                  <input type="number" formControlName="costo" class="form-control" id="costo" placeholder="">
                </div>
              </div>
              <!--  col-md-6   -->
            </div>
            <!--  row   -->





            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>




      </div>
      <!-- <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close"
          (click)="basicModal.hide()" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save!</button>
      </div> -->
    </div>

  </div>
  <div class="jw-modal-background" (click)="closeModal()"></div>
  <!-- <div class="jw-modal-body">
    <ng-content></ng-content>
  </div> -->
</div>